MultiPlayer/MultiPlayer.UI/Connected Services/GameService/GameDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GameDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2113/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2113/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2113/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MultiPlayer.BusinessObjects.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGameDataService_GetAllGames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGames" />
  </wsdl:message>
  <wsdl:message name="IGameDataService_GetAllGames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGamesResponse" />
  </wsdl:message>
  <wsdl:message name="IGameDataService_CreateGame_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGame" />
  </wsdl:message>
  <wsdl:message name="IGameDataService_CreateGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameDataService_DeleteGame_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGame" />
  </wsdl:message>
  <wsdl:message name="IGameDataService_DeleteGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameDataService_GetGameById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGameById" />
  </wsdl:message>
  <wsdl:message name="IGameDataService_GetGameById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGameByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IGameDataService_UpdateGame_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGame" />
  </wsdl:message>
  <wsdl:message name="IGameDataService_UpdateGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGameResponse" />
  </wsdl:message>
  <wsdl:portType name="IGameDataService">
    <wsdl:operation name="GetAllGames">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameDataService/GetAllGames" message="tns:IGameDataService_GetAllGames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameDataService/GetAllGamesResponse" message="tns:IGameDataService_GetAllGames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameDataService/CreateGame" message="tns:IGameDataService_CreateGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameDataService/CreateGameResponse" message="tns:IGameDataService_CreateGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameDataService/DeleteGame" message="tns:IGameDataService_DeleteGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameDataService/DeleteGameResponse" message="tns:IGameDataService_DeleteGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGameById">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameDataService/GetGameById" message="tns:IGameDataService_GetGameById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameDataService/GetGameByIdResponse" message="tns:IGameDataService_GetGameById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameDataService/UpdateGame" message="tns:IGameDataService_UpdateGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameDataService/UpdateGameResponse" message="tns:IGameDataService_UpdateGame_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGameDataService" type="tns:IGameDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllGames">
      <soap:operation soapAction="http://tempuri.org/IGameDataService/GetAllGames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGame">
      <soap:operation soapAction="http://tempuri.org/IGameDataService/CreateGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGame">
      <soap:operation soapAction="http://tempuri.org/IGameDataService/DeleteGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGameById">
      <soap:operation soapAction="http://tempuri.org/IGameDataService/GetGameById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGame">
      <soap:operation soapAction="http://tempuri.org/IGameDataService/UpdateGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameDataService">
    <wsdl:port name="BasicHttpBinding_IGameDataService" binding="tns:BasicHttpBinding_IGameDataService">
      <soap:address location="http://localhost:2113/Games" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>